/env/*
!env/*.env.template
.env

/log/*
!/log/.keep

/tmp/*
!/tmp/.keep

maintenance/on.txt

/import/*
!/import/.keep
terraform.tfvars
terraform/.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
