RAILS_LOG_TO_STDOUT=true
RAILS_SERVE_STATIC_FILES=true

DATABASE_URL=postgres://postgres:<password>@postgres:5432/scn_production
REDIS_URL=redis://redis:6379/0

RAILS_MASTER_KEY=

CORE_APP_ENV=staging
